<h1>List your lair:</h1>

<%= form_for @lair do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :doomsday_devices %>
  <%= f.text_field :doomsday_devices %>
  <%= f.label :lair_type %>
  <%= f.text_field :lair_type %>
  <%= f.submit "List Lair" %>
<% end %>
