<h1>Behold our many lairs for rental:</h1>

<ul>
  <% @lairs.each do |lair| %>
    <li>
      <div class="well">
      <h4><%= lair.name %></h4>
      <% if lair.user_id == current_user.id %>
        <%= link_to "Edit", edit_lair_path(lair) %>
      |
        <%= link_to "Delete", lair_path(lair), :method => :delete %>
      <% else %>
        <%= link_to "Book This Lair", new_lair_booking_path(lair) %>
      <% end %>
        <p>Owned by: <%= User.find(lair.user_id).email %></p>
        <p>Lair type: <%= lair.lair_type %></p>
        <p>Lair price: <%= lair.price %></p>
        <p>Doomsday devices: <%= lair.doomsday_devices %></p>
      </div>

    </li>
  <% end %>
</ul>

<%= render "form" %>
